/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#BikeTable .column-header .label {
  -fx-alignment: CENTER-LEFT;
}

#BikeTable .table-column {
  -fx-alignment: CENTER-LEFT;
}